.formulario {
    max-width: 400px;
    margin: 2rem auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 1rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
}


h2 {
    text-align: center;
}

.ordenId {
    display: block;
    margin: 4rem;
    padding: 2rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.btnComprar {
    background-color:indigo;
    color: white;
    font-size: 1.1rem;
    width: 12rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}